<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-lg-4">
        <img class="img-fluid rounded" src="assets/images/{{package.name}}.jpg" alt="{{package.name}} photo">
      </div>
      <div class="col-sm-8 col-lg-4 bg-light rounded">
        <h2 class="mt-3 mt-sm-0 mb-0">{{package.name}}</h2>
        <p class="mt-0">{{package.description}}</p>
        <p>Start Date: {{package.startdate}}</p>
        <p>End Date: {{package.enddate}}</p>
        <p>Package Price: {{package.price}}</p>
        <p class="text-center"><button class="btn-lg btn-primary">Book</button></p> 
      </div>
    </div>
  </div>
  <!--packagedetails-->
